body{
    background-color: blueviolet;
    width: 100%;
    height: auto;
}
nav ul li{
    list-style:none ;
   
    color: aliceblue;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
