@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
#body{
    /* background-image: url(images/loginbackground.jpg) ; */
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: auto;
font-family: 'Montserrat';
}
.login{
    color: hsl(0, 0%, 100%);
width: 30%;
 position: absolute;
 top: 50px;
left: 33%;
 border-radius: 20px;
 height: 70%;
 background-color: rgba(118, 118, 117, 0.603);
 margin-left: 53px;
 border-radius: 20px;
}
.login label{
    font-size: 23px;
    margin-left: 10px;
}
.login h1{

color: hsl(0, 0%, 100%);
width:60%;
height: 58px;
font-family: 'Montserrat';

font-weight: 800;
font-size: 48px;
line-height: 58px;
/* identical to box height */
text-align: right;
}
.login input{
color: hsl(0, 0%, 100%);
margin-left: 50px;
box-sizing: border-box;
width: 318px;
height: 50px;
background: #FFFFFF;
border: 1px solid #000000;
border-radius: 10px;
}
.login button{
   
    /* margin-top: 20px; */
    width: 100%;
    background: linear-gradient(180deg, hsl(215deg 17% 55%) 0%, rgba(195, 222, 241, 0.44) 100%);
    color: hsl(0, 0%, 100%);
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
}
.login form{
    margin-top: 80px;
}
.signup{
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    color: #adadad;
    padding: 200px ;
    outline:none;   
    /* float:left; */
    border: solid 1px #adadad;
    /* width: 230px; */
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow:inset 0 0 5px 5px #E6E6E6;
    -webkit-box-shadow:inset 0 0 5px 5px #E6E6E6;
    box-shadow:inset 0 0 5px 5px #E6E6E6;
    clear: right;
}
.signup input{
    color: hsl(0, 0%, 100%);
    margin-left: 50px;
    box-sizing: border-box;
    width: 318px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px; 
}
.signup{
    display: grid;
    grid-template-columns: auto auto;

}
/* @charset "UTF-8"; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f1f2f7;
  font-family: "Open Sans", arial, sans-serif;
  color: darkslategray;
}

body.login {
  background-color: white;
  max-width: 500px;
  margin: 10vh auto;
  padding: 1em;
  height: auto;
}

.warn {
  color: red;
 
}

/* header */
header[role="banner"] {
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
header[role="banner"] h1 {
  margin: 0;
  font-weight: 300;
  padding: 1rem;
}
header[role="banner"] h1:before {
  content: "\f248";
  font-family: FontAwesome;
  padding-right: 0.6em;
  color: red;
}
header[role="banner"] .utilities {
  width: 100%;
  background: slategray;
  color: #ddd;
}
header[role="banner"] .utilities li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
header[role="banner"] .utilities li a {
  padding: 0.7em;
  display: block;
}

/* header */
.utilities a:before {
  content: "\f248";
  font-family: FontAwesome;
  padding-right: 0.6em;
}

.logout a:before {
  content: "";
}

.users a:before {
  content: "";
}

nav[role="navigation"] {
  background: #2a3542;
  color: #ddd;
  /* icons */
}
