body{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    background-color: brown;
}
nav ul li{
    list-style:none ;
   
    color: aliceblue;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
